In [5]:
# -*- coding: utf-8 -*-
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import scipy.sparse as sparse

In [6]:
#Reading users file:
users = pd.read_csv('//home/ink/Documents/2016_2017/Analyse de Donnée/Projet_Analyse/tags.csv', sep = ",",
encoding='latin-1')
users.head()

   userId  movieId                      tag   timestamp
0      15      339  sandra 'boring' bullock  1138537770
1      15     1955                  dentist  1193435061
2      15     7478                 Cambodia  1170560997
3      15    32892                  Russian  1170626366
4      15    34162              forgettable  1141391765

In [7]:
df_movie.max(), df_users.max()

NameError: name 'df_movie' is not defined

In [8]:
ratings = pd.read_csv("/home/ink/Documents/2016_2017/Analyse de Donnée/Projet_Analyse/ratings.csv", sep = ",",
encoding='latin-1')
df = pd.DataFrame(ratings)
df_movie = df.movieId
df_users = df.userId
df_rating = df.rating

def binary(x):
    if x <= 2.5:
        return 0
    else:
        return 1

    
shape = tuple(df.max(axis=0)[:2]+1)
coo = sparse.coo_matrix((df_rating.apply(binary), (df.values[:, 0], df.values[:, 1])), shape=shape)
print coo

  (1, 31)	0
  (1, 1029)	1
  (1, 1061)	1
  (1, 1129)	0
  (1, 1172)	1
  (1, 1263)	0
  (1, 1287)	0
  (1, 1293)	0
  (1, 1339)	1
  (1, 1343)	0
  (1, 1371)	0
  (1, 1405)	0
  (1, 1953)	1
  (1, 2105)	1
  (1, 2150)	1
  (1, 2193)	0
  (1, 2294)	0
  (1, 2455)	0
  (1, 2968)	0
  (1, 3671)	1
  (2, 10)	1
  (2, 17)	1
  (2, 39)	1
  (2, 47)	1
  (2, 50)	1
  :	:
  (671, 4896)	1
  (671, 4963)	1
  (671, 4973)	1
  (671, 4993)	1
  (671, 4995)	1
  (671, 5010)	0
  (671, 5218)	0
  (671, 5299)	1
  (671, 5349)	1
  (671, 5377)	1
  (671, 5445)	1
  (671, 5464)	1
  (671, 5669)	1
  (671, 5816)	1
  (671, 5902)	1
  (671, 5952)	1
  (671, 5989)	1
  (671, 5991)	1
  (671, 5995)	1
  (671, 6212)	0
  (671, 6268)	0
  (671, 6269)	1
  (671, 6365)	1
  (671, 6385)	0
  (671, 6565)	1

In [9]:
items = pd.read_csv('/home/ink/Documents/2016_2017/Analyse de Donnée/Projet_Analyse/movies.csv', sep=',',
encoding='latin-1')

In [10]:
lol = set(df_users)
clustermovie = np.array(lol)
print clustermovie

set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671])

In [15]:
#movie_ratings = pd.merge(items, ratings)
#print movie_ratings

In [ ]:
sklearn.decomposition.NMF