In [2]:
# -*- coding: utf-8 -*-
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.decomposition import NMF
import scipy
import scipy.sparse as sparse
from sklearn.cluster import KMeans
import collections

In [3]:
def binary(x):
    if x <= 2.5:
        return 0
    else:
        return 1

def get_movie(id):
    return unicode(movies[movies['movieId']==id]['title'].values[0])

def movies_matrix(Id): 
    return ratings[ratings["movieId"]==Id]["movies_matrix"].values[0]

def matrix_movies(index):
    return ratings[ratings["movies_matrix"]==index]["movieId"].values[0]

In [4]:
#Reading users file:
movies = pd.read_csv('//home/ink/Documents/2016_2017/Analyse de Donnée/Projet_Analyse/movies.csv', sep = ",",
encoding='latin-1')
#Reading ratings file:
ratings = pd.read_csv("/home/ink/Documents/2016_2017/Analyse de Donnée/Projet_Analyse/NouveauRatings.csv", sep = ",",
encoding='latin-1')
ratings = ratings.sort_values('movieId').reset_index()

movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [9]:
df = pd.DataFrame(ratings)
df_movie = df.movies_matrix
df_users = df.userId
df_rating = df.rating
rating = []
movie_index = range(9066)

shape = len(df_movie.unique()), len(df_users.unique())

#df_movie.max(), df_movie.shape, df_movie.unique().shape

4.0

In [17]:
coo = sparse.coo_matrix((df_rating, ((df_movie.values),(df_users.values-1))), shape=shape)
coo = coo.T
print coo
# Notre matrice sur laquelle nous allons travailler

  (67, 0)	4.0
  (121, 0)	3.0
  (427, 0)	5.0
  (623, 0)	5.0
  (425, 0)	3.0
  (120, 0)	4.0
  (424, 0)	4.5
  (421, 0)	5.0
  (462, 0)	3.0
  (622, 0)	4.5
  (420, 0)	2.0
  (629, 0)	4.0
  (418, 0)	4.5
  (186, 0)	4.0
  (456, 0)	1.5
  (168, 0)	4.0
  (66, 0)	3.0
  (172, 0)	4.0
  (12, 0)	5.0
  (141, 0)	4.0
  (653, 0)	5.0
  (446, 0)	3.0
  (447, 0)	3.0
  (68, 0)	5.0
  (174, 0)	4.0
  :	:
  (14, 9044)	4.0
  (72, 9044)	3.5
  (14, 9045)	0.5
  (14, 9046)	1.0
  (14, 9047)	2.5
  (61, 9048)	4.0
  (286, 9048)	4.5
  (623, 9049)	1.5
  (14, 9050)	1.0
  (286, 9050)	4.0
  (14, 9051)	2.0
  (14, 9052)	4.0
  (55, 9053)	5.0
  (546, 9054)	3.5
  (546, 9055)	4.0
  (546, 9056)	2.5
  (14, 9057)	0.5
  (72, 9058)	3.0
  (623, 9059)	1.0
  (623, 9060)	1.5
  (286, 9061)	5.0
  (72, 9062)	4.5
  (610, 9063)	5.0
  (610, 9064)	3.0
  (546, 9065)	5.0